/* 字体颜色 */
$font-color = rgb(7,17,27);
$font-colorer = rgb(147,153,157);
$font-color-lighter = #fff;
$font-color-dark = rgb(240,20,20);
$font-color-lightest = rgb(147,153,159);
$font-color-darkest = rgba(255,255,255,.5);
/* 字体大小 */
$font-size-smallest = 10px;
$font-size-small = 12px;
$font-size-middle = 14px;
$font-size-large = 16px;
$font-size-larger = 18px;
/* 背景颜色 */
$bg-color-light = rgba(7,17,27,.5);
$bg-color-lighter = rgba(7,17,27,.2);
$bg-color-dark = rgba(7,17,27,.8);
/* 线色 */
$line-colorer = rgba(255,255,255,.1);
$line-color = rgba(255,255,255,.2)
$line-color-light = rgba(7,17,27,.1);